table {
	border-collapse: collapse;
}

.container {
	display: flex;
	width: 600px;
	margin: 50px auto;
}

.board {
	width: 500px;
	height: 500px;
}

.cell {
	position: relative;
	border: 1px solid #000;
}

.cell:last-child,
.row:last-child .cell {
	border: none;
}

.piece {
	content: ' ';
	position: absolute;
	left: -45%;
	top: -45%;
	width: 90%;
	height: 90%;
	border-radius: 100%;
	cursor: pointer;
	opacity: 0;
}

.piece.black,
.piece.white {
	border: 1px solid #000;
	opacity: 1;
	cursor: default;
}

.piece.black {
	background: #000;
}

.piece.white {
	background: #fff;
}

.piece.empty:hover {
	background: #fff;
	box-shadow: 0px 0px 10px 0px #999;
	opacity: 1;
}
